<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
</a>
<ul class="dropdown-menu dropdown-user">
    <li>
        <a href="#/profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
    </li>
    <li>
        <a href="#/setting"><i class="fa fa-gear fa-fw"></i> Setting</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="javascript:void(0)" ng-click="signOut()"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a>
    </li>
</ul>