<div id="page-wrapper" ng-controller="orderCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Quản lý giao dịch<small><span class="glyphicon glyphicon-chevron-right"></span>Thêm</small></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div style="width:90%" class="row center-block">
            <form role="form" class="form-horizontal" name="createForm">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="number">Số:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="number" name="number" ng-model="orderCreate.Number" placeholder="Nhập số" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pw">Họ tên:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="fn" name="fn" ng-model="orderCreate.FullName" placeholder="Nhập họ tên" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="address">Địa chỉ:</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="address" type="text" ng-model="orderCreate.Address" placeholder="Nhập địa chỉ" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="mobile">Điện thoại:</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="mobile" type="text" ng-model="orderCreate.Mobile" placeholder="Nhập số điện thoại" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email:</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="email" type="email" ng-model="orderCreate.Email" placeholder="Nhập email" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="description">Ghi chú:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="description" ng-model="orderCreate.Description" placeholder="Ghi chú..." />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" ng-click="create(orderCreate)">Lưu</button>
                        <a class="btn btn-default" href="#/giao-dich">Hủy bỏ</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </div>
</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Đang xử lý...</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
