<div id="page-wrapper" ng-controller="simtypeCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nhà cung cấp<small><span class="glyphicon glyphicon-chevron-right"></span>Sửa</small></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div style="width:90%" class="row center-block">
            <form role="form" class="form-horizontal" name="createForm">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Tên loại SIM:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" ng-model="stUpdate.Name" placeholder="Nhập tên loại SIM" />
                    </div>
                </div>                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="type">Loại SIM:</label>
                    <div class="col-sm-10">
                        <!--<input class="form-control" name="email" type="email" ng-model="stUpdate.Email" placeholder="Nhập email" />-->
                        <select ng-model="stUpdate.IDParent" class="form-control">
                            <option ng-repeat="item in lstSTName" value="{{item.ID}}">{{item.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="condition">Điều kiện</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" ng-model="stUpdate.Condition"></textarea>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" ng-click="update(stUpdate)">Cập nhật</button>
                        <a class="btn btn-default" href="#/quan-ly/loai-sim">Hủy bỏ</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </div>
</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Đang xử lý...</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
