<div id="page-wrapper" ng-controller="menuCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Quản lý Menu<small><span class="glyphicon glyphicon-chevron-right"></span>Thêm</small></h1>
            </div>
        </div>
        <div style="width:70%" class="row center-block">
            <form role="form" class="form-horizontal" name="createForm">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Tên mục:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" ng-model="menu.Name" placeholder="Nhập tên mục" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="stand">Vị trí:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="stand" ng-model="menu.Stand" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="stand">Loại mục:</label>
                    <div class="col-sm-10">
                       <select class="form-control" ng-model="menu.Type">
                           <option value="0">Group</option>
                           <option value="1">Detail</option>
                       </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" ng-click="create(menu)">Thêm</button>
                        <a class="btn btn-default" href="#/quan-ly/menu">Hủy bỏ</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </div>
</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Đang xử lý..</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>