.colophone-wrapper
  .container
    .row
      .col-md-12
        // backlink
        .tag-wrapper.blue
          h3.title-module
            a(href='#') Từ khóa
          ul
            li.tag
              a(href='#0') Loại sim
            li.tag
              a(href='#0') Loại sim
            li.tag
              a(href='#0') Loại sim
            li.tag
              a(href='#0') Loại sim
            li.tag
              a(href='#0') Loại sim
            li.tag
              a(href='#0') Loại sim