.fmenu-wrapper
  .container.text-center
    ul.fmenu
      li
        a(href='#0') menu
      li
        a(href='#0') menu
      li
        a(href='#0') menu
      li
        a(href='#0') menu
      li
        a(href='#0') menu
      li
        a(href='#0') menu
footer.footer
  .container
    .row
      .col-md-9.col-sm-12
        // pull-right-md if need this block right
        .col-md-6.col-xs-12
          h3
            a.title.text-uppercase(href='#0') Tiêu đề
          .content
            p.text-justify Hệ thống phân phối Sim số đẹp lớn nhất Việt Nam!
            p.text-justify
              | Sim số đẹp VTC là trang web chuyên về số đẹp giá rẻ - Một dịch vụ của Công ty CP Dịch vụ Viễn thông Hiệp Thành
            p.text-justify
              | Giấy phép KD số 0106459562 cấp tại Sở Kế hoạch và đầu tư Hà Nội
            p.text-justify
              | Lưu ý: Sim số đẹp VTC  KHÔNG LÀM DỊCH VỤ MÔI GIỚI mua bán các số sim đang được sử dụng.
            p.text-justify
              | Chúng tôi CHỈ BÁN TRỰC TIẾP các sim còn trong kho. Tất cả sim bán ra đều là sim mới, nguyên kít chưa kích hoạt.
            p.text-justify
              | Chúng tôi cam kết luôn vào tên chính chủ sở hữu sim cho khách hàng (Cách kiểm tra chủ thuê bao)
        .col-md-6.col-xs-12
          h3
            a.title.text-uppercase(href='#0') Chi nhánh
          .content
            p.text-justify.text-uppercase
              | Giao sim tận nơi toàn quốc trong 24-48 h
            p.text-justify
              span.text-uppercase Hà Nội
              br
              | Số 176 La Thành, Đống Đa, HN (Đi thẳng vào ngõ 398 Xã Đàn)
            p Điện thoại: (04).66.586.586
            p.text-justify
              span.text-uppercase Hồ chí minh
              br
              | Số 176 La Thành, Đống Đa, HN (Đi thẳng vào ngõ 398 Xã Đàn)
            p Điện thoại: (04).66.586.586
            p.text-justify
              span.text-uppercase Hồ chí minh
              br
              | Số 176 La Thành, Đống Đa, HN (Đi thẳng vào ngõ 398 Xã Đàn)
            p Điện thoại: (04).66.586.586
      // col-md-9
      .col-md-3.col-sm-12
        h3
          a.title.text-uppercase(href='#0') Thanh toán
        div.col-100
          -for (var x=1;x<7;x++)
            a.col-33: img.col-100(src="images/partners/logo-partner#{x}.png", title="title", height="43px")
        .clearfix
        br
        br
        h3
          a.title.text-uppercase(href='#0') Facebook
        div
          img.col-100(src="images/fanpage.png", title="Facebook")
    div.copyright.text-center
      p
        |Copyright 2015 SimsodepVTC
      //- .logo-footer.col-md-3.col-sm-12
      //-   h3
      //-     a.title.text-uppercase(href='#0') Gửi liên hệ
      //-   .form.form-fullwidth
      //-     div
      //-       .form-group
      //-         input(type='text', placeholder='Nhập email của bạn ...')
      //-       .form-group
      //-         input(type='text', placeholder='Nhập phone của bạn ...')
      //-       .form-group
      //-         textarea(name='desc', id='', cols='30', rows='6', placeholder='Nhập nội dung ...')
      //-       .form-group
      //-         button.btn.btn-secondary(tyle='submit') Gửi thông tin
//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script(src='libs/jquery.min.js')
script(src='libs/plugins/bootstrap/js/bootstrap.min.js')
// IE10 viewport hack for Surface/desktop Windows 8 bug
script(src='libs/ie10-viewport-bug-workaround.js')
script(src='libs/owl-carousel/owl.carousel.js')
// JS
script(src='js/script.js')
