<div id="page-wrapper" ng-controller="networkCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Nhà mạng<small><span class="glyphicon glyphicon-chevron-right"></span>Thêm</small></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div style="width:80%" class="row center-block">
            <form role="form" class="form-horizontal" name="createForm">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Tên nhà mạng:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" ng-model="nwCreate.Name" placeholder="Nhập tên nhà mạng" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="number">Đầu số:</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="number" type="text" ng-model="nwCreate.Number" placeholder="Nhập đầu số" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="img">Logo:</label>
                    <div class="col-sm-10">
                        <span style="display:inline-block">
                            <img class="img-thumbnail" width="100" height="100" id="imageUpload" style="display:none" />
                        </span>
                        <span style="display:inline-block">
                            <input type="file" id="chooseFile" name="photo" accept="image/*" />
                        </span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-primary" ng-click="create(nwCreate)">Submit</button>
                        <a class="btn btn-default pull-right" href="#/thiet-lap-danh-muc/nha-mang">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </div>
</div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Đang xử lý...</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                $("#imageUpload").show();
                var reader = new FileReader();
                reader.onload = function (e) {
                    console.log(e.target.result);
                    $('#imageUpload').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#chooseFile").change(function () {
            readURL(this);
        });
    })
</script>